.box {
    width: 20%;
    height: auto;
    border: 1px lightgray solid;
    margin: 20px;
    padding: 20px;
    background-color: white;
    display: inline-block;
    
   
};

.box:hover {
    border: 1px #f2811e solid;
}

button {
    padding: 8px 10px;
    margin: 10px;
    background-color: #f2811e;
    color: white;
    font-size: 0.8em;   
}

button:hover {
    background-color: #434649;
}
.products {
    margin-left: auto;
    margin-right: auto;
}

.price {
    font-weight: bold;
    color: black;
    font-size: 1.3em;
}

.qty {
    font-size: 0.8em;
    color: darkolivegreen;
}
.delivery {
    font-size: 0.8em;
    color: darkred;
}